@{
    ViewBag.Title = "BetterReads";
}

<div class="banner">
    <div class="container">
        <div class="banner_desc">
            <h1>BetterReads</h1>
            <h2>Best place to find the perfect book.</h2>
            <div class="button">
                <a href="#" class="hvr-shutter-out-horizontal">Browse books</a>
            </div>
        </div>
    </div>
</div>
<div class="content_top">
    <h3 class="m_1">Most Popular</h3>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="product-img">
                    <a href="single.html">
                        <img src="~/Content/SiteImages/east-of-eden.jpg" class="img-responsive text-center" alt="item4">
                    </a>
                </div>

                <div class="shop-content">
                    <h3><a href="single.html">East of Eden</a></h3>
                    <div>John Steinbeck</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-img">
                    <a href="single.html">
                        <img src="~/Content/SiteImages/east-of-eden.jpg" class="img-responsive" alt="item4">
                    </a>
                </div>

                <div class="shop-content" style="height: 80px;">
                    <h3><a href="single.html">Non-charac</a></h3>
                    <div><a href="single.html" rel="tag">humour</a></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-img">
                    <a href="single.html">
                        <img src="~/Content/SiteImages/east-of-eden.jpg" class="img-responsive" alt="item4">
                    </a>
                </div>

                <div class="shop-content" style="height: 80px;">
                    <h3><a href="single.html">Non-charac</a></h3>
                    <div><a href="single.html" rel="tag">humour</a></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="about-block-content">
                <div class="border-add"></div>
                <h4>About BetterReads</h4>
                <p>BetterReads is the prefect place to browse books. It offers a variety of genres and allows you to add book to different categories depending on whether you've read it or not. It also helps you get in touch with other booklovers.</p>
                <p>Join our awesome community today.</p>
                <p> </p>
            </div>
        </div>
        <div class="row">
            <img src="~/Content/SiteImages/booksbanner.png" class="img-responsive" alt="" />

        </div>
        <div class="clearfix"></div>
    </div>
</div>